.post-body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  white-space: normal;
  overflow-x: hidden;
  text-align: justify;
  text-justify: inter-ideograph;
  font-size: .9em;
  animation: bodyshow .9s linear;

  .container {
    width: 66%;
    margin: 100px auto;
  }
}

.article-header {
  width: 100%;
  height: 25%;
  text-align: center;
  margin-bottom: 60px;

  h1 {
    line-height: 1.6;
  }
}

.article-body {
  padding: 80px;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  
  li {
    margin-left: 2em;
    padding: 3px 0;
    list-style-type: square;
  }

  p {
    margin: .5em 0;
  }

  b,
  strong {
    font-size: 1em;
    padding: 6px 0;
    margin-right: .5em;
    font-weight: 600;
    color: #ce2323;
  }

  h2 {
    margin: 30px 0;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    &:before,
    &:after {
      content: ' - ';
      display: inline-block;
      text-align: center;
      padding: 0 10px;
    }
  }

  h3 {
    margin: 25px 0;
    padding: 12px 0;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 1px solid #CE2323;
  }

  h4 {
    font-size: 19px;
    padding: 15px 0;
    font-weight: 600;
    color: #CE2323;
  }

  h5 {
    font-size: 17px;
    padding: 10px 0;
  }

  hr {
    margin: 50px 0;
  }

  code {
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: 3px;
    color: rgba(255,58,71,.5);
    font-weight: 400;
    background-color: rgba(200,111,222,.02);    
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace, Arial, sans-serif;

    &.hljs {
      line-height: 1.4em;
      padding: 15px;

      margin: 15px 0;
      border-radius: 7px;
      border: 1px dashed #FF8E8E;
      background-color: #FFF;
      color: #222;

      clear: both;
      width: 100%;
      word-break: break-word;
      word-wrap: break-word;
    }

  }

  blockquote {
    border-left: 5px solid #ddd;
    padding: 2px 10px 1px 20px;
    margin: 10px 0;
    color: #888;
    clear: both;
    width: 96%;
    word-break: break-word;
    word-wrap: break-word;
  }
}

#markdown-toc {
  a {
    &:link, &:visited {
      color: #000;
    }
    &:hover, &:active {
      color: #CE2323;
    }
  }
}

@media screen and (max-width: 1024px) {
  .post-body {
    .container {
      width: 80%;
      padding: 50px 0;
      margin: 50px auto;
    }
  }
}

@media screen and (max-width: 960px) {
  .post-body {
    display: block;
    width: 100%;
    height: auto;
    overflow: visible;
    font-size: .9em;

    .container {
      width: 90%;
      padding: 50px 0;
    }
  }

  .article-body {
    padding: 40px 45px;

    li {
      margin: 10px 0 5px 2em;
    }
  }
}

@media screen and (max-width: 640px) {
  .article-body {
    padding: 20px;
    box-shadow: none;
    font-size: .7em;
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.3em;
    }
  }
}

@keyframes 'bodyshow' {
  0% {
    top: -100px;
    opacity: 0;
  }

  33% {
    top: -60px;
    opacity: .2;
  }

  66% {
    top: -30px;
    opacity: .6;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
