.home-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: normal;
  text-align: justify;
  text-justify: inter-ideograph;

  .container {
    width: 70%;
    margin: 48px auto;
    overflow: hidden;
  }
}

.post-container {
  overflow: hidden;

  .post-list {
    list-style: none;
    animation: bodyshow .9s linear;

    li {
      float: left;
      margin: 20px;
      padding: 20px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
      transition: all .3s linear;
      color: #333;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, .5);
      }

      a {
        &:link,
        &:visited,
        &:hover,
        &:active {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .post-title {
      font-size: 1.1em;
      color: #CE2323;
    }

    p,
    h3 {
      display: block;
      color: #333;
      font-size: .9em;
      margin: 9px 0 3px;
    }
  }

  .post-cate-list {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .home-body {
    display: block;
    width: 102%;
    height: auto;
    overflow: visible;
    font-size: .9em;
    .container {
      padding: 50px 5%;
    }
    li {
      margin: 10px 0 5px 2em;
    }
  }
}

@media screen and (max-width: 640px) {
  .home-body {
    font-size: .7em;
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.3em;
    }
  }
}

@keyframes 'bodyshow' {
  0% {
    top: -100px;
    opacity: 0;
  }

  33% {
    top: -60px;
    opacity: .2;
  }

  66% {
    top: -30px;
    opacity: .6;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
